@import 'bootstrap';
@import 'vars';
@import 'mixins';
@import 'icofont';
@import 'colors';
@import 'img';
@import '../css/jquery.mmenu.all.css';

@include import-font('Open+Sans','400,700');

*:active,
*:focus {
  outline: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing: antialiased;
  text-rendering:optimizeLegibility;
}

.cf:after, .cf:before {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;

  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

a {
  color: #444;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  background-color: inherit;
  color: inherit;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 14px;
  color: $text-color;
  font-family: $default-font;
  font-weight: 400;
}

.toggle-nav {
  position: absolute;
  font-size: 20px;
  top: 15px;
  left: 15px;
  z-index: 9999;
  color: $primary-color;
}