@import 'main';

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .pull-left-xs {
    float: left;
  }
  .pull-right-xs {
    float: right;
  }

  .top-margin-xs {
    margin-top: 1.5em;
  }

  .nav-panel {
    font-weight: 400;

    .mm-title {
      color: $main-color !important;
      font-weight: bold;
    }

    .mm-navbar-top {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .nav-panel-logo {
      width: 12em;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .text-center-sm {
    text-align: center;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
  .pull-left-sm {
    float: left;
  }
  .pull-right-sm {
    float: right;
  }

  .text-center-xs {
    text-align: inherit;
  }
  .text-left-xs {
    text-align: inherit;
  }
  .text-right-xs {
    text-align: inherit;
  }
  .pull-left-xs {
    float: inherit;
  }
  .pull-right-xs {
    float: inherit;
  }
}

@media only screen and (min-width: 768px) {

  .top-margin-xs {
    margin-top: 0;
  }
  .top-margin-sm {
    margin-top: 1.5em;
  }

}

@media only screen and (min-width: 1024px) {
  .text-center-md {
    text-align: center;
  }
  .text-left-md {
    text-align: left;
  }
  .text-right-md {
    text-align: right;
  }
  .pull-left-md {
    float: left;
  }
  .pull-right-md {
    float: right;
  }

  .text-center-xs {
    text-align: inherit;
  }
  .text-left-xs {
    text-align: inherit;
  }
  .text-right-xs {
    text-align: inherit;
  }
  .pull-left-xs {
    float: inherit;
  }
  .pull-right-xs {
    float: inherit;
  }

  .text-center-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: inherit;
  }
  .text-right-sm {
    text-align: inherit;
  }
  .pull-left-sm {
    float: inherit;
  }
  .pull-right-sm {
    float: inherit;
  }

  .top-margin-xs {
    margin-top: 0;
  }
  .top-margin-sm {
    margin-top: 0;
  }
  .top-margin-md {
    margin-top: 1.5em;
  }

}

@media only screen and (min-width: 1140px) {
  .text-center-lg {
    text-align: center;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .pull-left-lg {
    float: left;
  }
  .pull-right-lg {
    float: right;
  }

  .text-center-xs {
    text-align: inherit;
  }
  .text-left-xs {
    text-align: inherit;
  }
  .text-right-xs {
    text-align: inherit;
  }
  .pull-left-xs {
    float: inherit;
  }
  .pull-right-xs {
    float: inherit;
  }

  .text-center-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: inherit;
  }
  .text-right-sm {
    text-align: inherit;
  }
  .pull-left-sm {
    float: inherit;
  }
  .pull-right-sm {
    float: inherit;
  }
}

@media only screen and (min-width: 1280px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {

}