@mixin import-font ($font-name, $font-weight) {
  $url : 'https://fonts.googleapis.com/css?family=';
  @import url($url + $font-name + ":" + $font-weight + '&subset=latin,latin-ext');
}

@mixin transitions ($property, $time, $ease) {
  -webkit-transition: $property $time $ease;
  -moz-transition: $property $time $ease;
  -ms-transition: $property $time $ease;
  -o-transition: $property $time $ease;
  transition: $property $time $ease;
}