@import "./flex-grid/flexgrid";
@import "vars";
@import "https://unpkg.com/swiper/swiper-bundle.min.css";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;

  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
}
